/*
Apple Colors
https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/#system-colors
*/
:root {
  /* Light mode */
  --color-light-gray-0: rgb(44, 44, 46);
  --color-light-gray-1: rgb(142, 142, 147);
  --color-light-gray-2: rgb(174, 174, 178);
  --color-light-gray-3: rgb(199, 199, 204);
  --color-light-gray-4: rgb(209, 209, 214);
  --color-light-gray-5: rgb(229, 229, 234);
  --color-light-gray-6: rgb(242, 242, 247);
  --color-light-blue: rgb(0, 122, 255);
  --color-light-green: rgb(52, 199, 89);
  --color-light-indigo: rgb(88, 86, 214);
  --color-light-orange: rgb(255, 149, 0);
  --color-light-pink: rgb(255, 45, 85);
  --color-light-purple: rgb(175, 82, 222);
  --color-light-red: rgb(255, 59, 48);
  --color-light-teal: rgb(90, 200, 250);
  --color-light-yellow: rgb(255, 204, 0);

  /* Dark mode */
  --color-dark-gray-0: rgb(230, 230, 235);
  --color-dark-gray-1: rgb(142, 142, 147);
  --color-dark-gray-2: rgb(99, 99, 102);
  --color-dark-gray-3: rgb(72, 72, 74);
  --color-dark-gray-4: rgb(58, 58, 60);
  --color-dark-gray-5: rgb(44, 44, 46);
  --color-dark-gray-6: rgb(28, 28, 30);
  --color-dark-blue: rgb(10, 132, 255);
  --color-dark-green: rgb(48, 209, 88);
  --color-dark-indigo: rgb(94, 92, 230);
  --color-dark-orange: rgb(255, 159, 10);
  --color-dark-pink: rgb(255, 55, 95);
  --color-dark-purple: rgb(191, 90, 242);
  --color-dark-red: rgb(255, 69, 58);
  --color-dark-teal: rgb(100, 210, 255);
  --color-dark-yellow: rgb(255, 214, 10);
}

/* @media (prefers-color-scheme: no-preference) {} */

@media (prefers-color-scheme: light) {
  :root {
    --color-gray-0: var(--color-light-gray-0);
    --color-gray-1: var(--color-light-gray-1);
    --color-gray-2: var(--color-light-gray-2);
    --color-gray-3: var(--color-light-gray-3);
    --color-gray-4: var(--color-light-gray-4);
    --color-gray-5: var(--color-light-gray-5);
    --color-gray-6: var(--color-light-gray-6);
    --color-blue: var(--color-light-blue);
    --color-green: var(--color-light-green);
    --color-indigo: var(--color-light-indigo);
    --color-orange: var(--color-light-orange);
    --color-pink: var(--color-light-pink);
    --color-purple: var(--color-light-purple);
    --color-red: var(--color-light-red);
    --color-teal: var(--color-light-teal);
    --color-yellow: var(--color-light-yellow);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-0: var(--color-dark-gray-0);
    --color-gray-1: var(--color-dark-gray-1);
    --color-gray-2: var(--color-dark-gray-2);
    --color-gray-3: var(--color-dark-gray-3);
    --color-gray-4: var(--color-dark-gray-4);
    --color-gray-5: var(--color-dark-gray-5);
    --color-gray-6: var(--color-dark-gray-6);
    --color-blue: var(--color-dark-blue);
    --color-green: var(--color-dark-green);
    --color-indigo: var(--color-dark-indigo);
    --color-orange: var(--color-dark-orange);
    --color-pink: var(--color-dark-pink);
    --color-purple: var(--color-dark-purple);
    --color-red: var(--color-dark-red);
    --color-teal: var(--color-dark-teal);
    --color-yellow: var(--color-dark-yellow);
  }
}

body {
  background-color: var(--color-gray-6);
  color: var(--color-gray-0);
  font-family: 'Open Sans', sans-serif;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: var(--color-gray-6);
    color: var(--color-gray-0);
  }
}
h2, h3 {
  text-align: center;
}

header, section, footer {
  width: 50%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
table, caption {
  width: 100%;
}

table, th, td {
    border: 1px solid var(--color-gray-0);
    border-collapse: collapse;
  }

  th, td {
    width: 33%;
    height: 15vh;
    padding: 0;
    text-align: center;
  }

/* ALL Containers */
.container {
    display: flex;
    position: relative;
    height: 100%;
}
.text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.fill-cont {
  opacity: 1;
}

/* START container */
  .con-start {
    justify-content: center;
  }
  .center-out {
    width: 0%;
    background: var(--color-blue);
  }

/* Container 1 */
.con-1 {
  justify-content: flex-start;
}
.left-right {
  width: 0%;
  background: var(--color-green);
}

/* Container 3 */
.con-3 {
  justify-content: flex-end;
}
.right-left {
  width: 0%;
  background: var(--color-orange);
}
/* Horizontal animation */
  .con-start:hover .center-out,
  .con-1:hover .left-right,
  .con-3:hover .right-left {
    width: 100%;
    animation: fill-horizontaly 0.5s;
  }
  @keyframes fill-horizontaly {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }
  
/* Container 2 */

.con-2 {
  flex-direction: column;
  justify-content: flex-start;
}
.top-down {
  width: 100%;
  height: 0%;
  background: var(--color-yellow);
}

/* Container 4 */

.con-4 {
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.bottom-up {
  width: 100%;
  height: 0%;
  background: var(--color-pink);
}

/* Vertical animation */

  .con-2:hover .top-down,
  .con-4:hover .bottom-up {
    height: 100%;
    animation: fill-verticaly 0.5s;
  }
  @keyframes fill-verticaly {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }

/* FINISH container */

  .con-finish {
    justify-content: space-between;
  }
  .to-left, .to-right {
    width: 0;
    background: var(--color-red);
  }

  .con-finish:hover .to-right,
  .con-finish:hover .to-left {
    width: 50%;
    animation: fill-out 0.5s;
  }
  
  @keyframes fill-out {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 50%;
      opacity: 1;
    }
  }

/* Center container */

  .con-5 {
    justify-content: center;
    align-items: center;
  }
  .blow-out {
    width: 0;
    height: 0;
    background: var(--color-purple);
  }

  .con-5:hover .blow-out {
    width: 100%;
    height: 100%;
    animation: center-blow 0.5s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;  
  }
  
  @keyframes center-blow {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }